@import "tailwindcss";

:root {
  --color-main: #1C2948;
  --color-sub: #71A9F7;
  --color-aux: #C6D8FF;
  --color-success: #2FBF71;
  --color-error: #D3170A;
  --color-premium: #D7AF70;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", sans-serif;
}
